---
import sandWave from "../assets/wave-bg.svg";
import BaseHead from "../components/BaseHead.astro";
import { container, flexCenter, flexCol, pt } from "../styles";
import "../styles/global/global.css";
import { sand, sandSvg } from "../styles/utilities/layout.css";

interface Props {
  title: string;
  description?: string;
  image?: string;
  canonicalURL?: string;
}

const { title, description, image, canonicalURL } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead
    title={title}
    description={description}
    image={image}
    canonicalURL={canonicalURL}
  />
  <body>
    <main class={`${container} ${pt[2]} ${flexCol} ${flexCenter}`}>
      <slot />
    </main>
    <img src={sandWave.src} alt="" class={sandSvg} />
    <div class={sand}></div>
  </body>
</html>
